body {
  background: #356aa0 url(http://orig10.deviantart.net/5bcd/f/2010/211/e/4/vista_styled_hd_background_by_jcsawyer.jpg) 
  repeat-x;
  font-style: oblique;
  background-size: 100%;
} 

#nav{
	color: blue;
}
.imagen{
	float: center;
	margin-left: 39%;
}

